<template name="Ajuda">
	<section id="content">
        <div class="container">
            <div class="block-header">
                <h2>Ajuda</h2>
            </div>
		        <div style="position: relative">
			        <div>
			            <input type="search" id="search" value="" class="form-control transparente" placeholder="Digite o que procura saber" st>
			        </div>
			        <br>
		    		<div class="panel-group transparente" role="tablist" aria-multiselectable="true">
		                <div class="panel panel-collapse transparente">
		                    <div class="panel-heading" role="tab" id="headingOne">
		                        <h4 class="panel-title">
		                            <a class="clique" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		                                Termos de Privacidade e Condições
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
		                        <div class="panel-body">
		                        	<ol>
		                        		<li style="color:black;">
		                        			<em>YouLike</em>, em hipótese alguma, divulgará ou repassará informações de clientes a terceiros.		
		                        		</li>
		                        		<li style="color:black;">
		                        			<em>YouLike</em>, reserva-se o direito de usar o login do cliente para curtir fotos alheias, desde que a hashtag usada não esteja em uma "blacklist" de hashtags consideradas inapropriadas pelo cliente.
		                        		</li>
		                        		<li style="color:black;">
		                        			<em>YouLike</em>, reserva-se o direito de disponibilizar as funcionalidades apenas após a confirmação de pagamento através de cartão de crédito.
		                        		</li>
		                        		<li style="color:black;">
		                        			<em>YouLike</em>, <b>não</b> salva os dados de cartão de crédito do cliente. Todo processamento de pagamento é realizado em ambiente seguro de parceiro competente e homologado para tal. Atualmente, o intermediador de pagamento é o <a href="https://pagar.me/">Pagar.Me</a>
		                        		</li>
		                        		<li style="color:black;">
		                        			Qualquer conteúdo de foto curtida através de uma hashtag, é de responsabilidade do cliente que escolheu a hashtag. 
		                        		</li>

		                        	</ol>
		                            
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-collapse transparente">
		                    <div class="panel-heading" role="tab" id="headingTwo">
		                        <h4 class="panel-title">
		                            <a class="collapsed clique" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		                                Pagamentos e Preços
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
		                        <div class="panel-body" style="color:black;">
		                            Todo pagamento é processado e validado pelo <a href="https://pagar.me/">Pagar.Me</a>, a partir de ambiente e transações seguras. Os preços são referentes apenas ao pacote contratado, não possuindo carater acumulativo. Para saber mais clique <a href="/#precos">aqui</a>.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-collapse transparente">
		                    <div class="panel-heading" role="tab" id="headingThree">
		                        <h4 class="panel-title">
		                            <a class="collapsed clique" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		                                Prazo de conclusão do serviço
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
		                        <div class="panel-body" style="color:black;">
		                            Devido as cotas de utilização do instagram, não podemos executar todo o pacote de uma só vez. Deixamos serviços rodando em background para que seu pacote seja concluído inteiramente dentro das possibilidades que o instagram permite. Devido a esta restrição não daremos uma previsão de conclusão, mas ao término enviaremos um email informando sobre a conclusão do processamento. Também é possível acompanhar a porcentagem de execução pelo sistema.
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
			<a href="/">Voltar</a>
		</div>
	</section>
</template>