<template name="Apresentacao">
	<div class="card">
		<div class="card-header">
			<h2 class="animated fadeInDown">Para quem trabalha com <b>instagram</b> e precisa automatizar suas tarefas. <span class="logofont">trabalhogram</span> permite que você:</h2>
		</div>
		<div class="card-body card-padding">
			
				<ul>
					<li>
						Curtir todas as fotos com uma determinada hashtag automaticamente.
					</li>
					<li>
						Comentar todas as fotos com uma determinada hashtag automaticamente.
					</li>
					<li>
						Visualizar todas as fotos com uma determinada hashtag automaticamente.
					</li>
					<li>
						Receber curtidas em todas as suas fotos ou em determinadas fotos (EM BREVE!)
					</li>
				</ul>
			
			<br/>
			<a href="#features" class="btn bgm-teal waves-effect fadeInUp">Começe a usar</a> <a href="/saiba-mais" class="btn bgm-lightblue waves-effect fadeInUp">Saiba mais <i class="fa fa-arrow-down"></i></a>
		</div>
	</div>
</template>