<template name="Principal">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
		<section class="{{#if isActivePath '/'}} home {{else}} {{#if isActivePath '/ajuda'}} fundoAjuda {{else}} {{#if isActivePath '/comprar-pacote'}} fundoAjuda {{else}} {{#if isActivePath '/instagram'}} fundoInstagram {{/if}} {{/if}} {{/if}} {{/if}}" id="{{#if isActivePath '/instagram'}}main{{/if}}">
			{{#if isNotActivePath '/instagram'}}
				<div class="p-t-15">
					<div class="texture-overlay"></div>
					<div class="container">
						<div class="row nav-wrapper">
							<div class="col-xs-offset-6 col-xs-6 text-right navicon">
								<a id="trigger-overlay" class="nav_slide_button nav-toggle"><span></span></a>
							</div>
						</div>
					</div>
				</div>
			{{/if}}
		
			
			{{> Template.dynamic template=main}}
			
			<div class="overlay overlay-boxify">
				<nav>
					<ul>
						{{#if currentUser}}
							<li><a href="/ajuda"><i class="fa fa-desktop linkMenu"></i>Ajuda</a></li>
						{{else}}
							<li><a class="efetuarLogin"><i class="fa fa-heart linkMenu"></i>Login</a></li>
							<li><a href="#services"><i class="fa fa-heart linkMenu"></i>Serviços</a></li>
							<li><a href="#information"><i class="fa fa-flash linkMenu"></i>Preços</a></li>
							<li><a href="/ajuda"><i class="fa fa-download linkMenu"></i>Termos e Condições</a></li>
						{{/if}}
					</ul>
				</nav>
			</div>
		</section>
	</body>
</template>