<template name="Principal">
	<body>
		<section class="home">
			<div class="p-t-15">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-xs-offset-6 col-xs-6 text-right navicon">
							<a id="trigger-overlay" class="nav_slide_button nav-toggle"><span></span></a>
						</div>
					</div>
				</div>
			</div>
		
			
			{{> Template.dynamic template=main}}
			
			<div class="overlay overlay-boxify">
				<nav>
					<ul>
						<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
						<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
					</ul>
					<ul>
						<li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
						<li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
					</ul>
				</nav>
			</div>
		</section>
	</body>
</template>