<template name="Precos">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4" style="color: brown;">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							Bronze</h3>
					</div>
					<div class="panel-body">
						<div class="the-price">
							<h1>
								R$ 20,00
							</h1>
							<small>Você pode realizar todas as ações abaixo para 3 hashtags em um dia.</small>
						</div>
						<table class="table">
							<tr>
								<td>
									Curtir todas as fotos da hashtag.
								</td>
							</tr>
							<tr class="active">
								<td>
									Comentar todas as fotos da hashtag.
								</td>
							</tr>
							<tr>
								<td>
									Visualizar todas as fotos da hashtag.
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Começe a usar</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4" style="color: silver;">
				<div class="panel panel-primary">
					<div class="cnrflash">
						<div class="cnrflash-inner">
							<span class="cnrflash-label">MAIS
								<br>
								INDICADO</span>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title">
							Prata</h3>
					</div>
					<div class="panel-body">
						<div class="the-price">
							<h1>
								R$ 50,00
							</h1>
							<small>Você pode realizar todas as ações abaixo para 5 hashtags em uma semana.</small>
						</div>
						<table class="table">
							<tr>
								<td>
									Curtir todas as fotos da hashtag.
								</td>
							</tr>
							<tr class="active">
								<td>
									Comentar todas as fotos da hashtag.
								</td>
							</tr>
							<tr>
								<td>
									Visualizar todas as fotos da hashtag.
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Começe a usar</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4" style="color: gold;">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							Ouro</h3>
					</div>
					<div class="panel-body">
						<div class="the-price">
							<h1>
								R$ 100,00
							</h1>
							<small>Você pode realizar todas as ações abaixo para 10 hashtags em um mês.</small>
						</div>
						<table class="table">
							<tr>
								<td>
									Curtir todas as fotos da hashtag.
								</td>
							</tr>
							<tr class="active">
								<td>
									Comentar todas as fotos da hashtag.
								</td>
							</tr>
							<tr>
								<td>
									Visualizar todas as fotos da hashtag.
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Começe a usar</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
</template>