<template name="Precos">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4" style="color: darkgreen;">
				<div class="panel panelPreco panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" style="color: white;">
							Bronze</h3>
					</div>
					<div class="panel panelPreco-body">
						<div class="the-price">
							<h1>
								R$ 20,00
							</h1>
							<small>Você pode realizar todas as ações abaixo para até 1440 fotos de uma hashtags. As hashtags podem ser escolhidas até 1 dia após o pagamento.</small>
						</div>
						<table class="table">
							<tr>
								<td>
									Curtir todas as fotos da hashtag.
								</td>
							</tr>
							<tr class="active">
								<td>
									Comentar todas as fotos da hashtag.
								</td>
							</tr>
							<tr>
								<td>
									Visualizar todas as fotos da hashtag.
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<a class="btn btn-success bronze" role="button">Começe a usar</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4" style="color: darkblue;">
				<div class="panel panelPreco panel-primary">
					<div class="cnrflash">
						<div class="cnrflash-inner">
							<span class="cnrflash-label">MAIS
								<br>
								INDICADO</span>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title">
							Prata</h3>
					</div>
					<div class="panel panelPreco-body">
						<div class="the-price">
							<h1>
								R$ 50,00
							</h1>
							<small>Você pode realizar todas as ações abaixo para até 10080 fotos de três hashtags. As hashtags podem ser escolhidas até 1 semana após o pagamento.</small>
						</div>
						<table class="table">
							<tr>
								<td>
									Curtir todas as fotos da hashtag.
								</td>
							</tr>
							<tr class="active">
								<td>
									Comentar todas as fotos da hashtag.
								</td>
							</tr>
							<tr>
								<td>
									Visualizar todas as fotos da hashtag.
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<a class="btn btn-success prata" role="button">Começe a usar</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4" style="color: darkgoldenrod;">
				<div class="panel panelPreco panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title" style="color: white;">
							Ouro</h3>
					</div>
					<div class="panel panelPreco-body">
						<div class="the-price">
							<h1>
								R$ 100,00
							</h1>
							<small>Você pode realizar todas as ações abaixo para até 43200 fotos de dez hashtags. As hashtags podem ser escolhidas até 1 mês após o pagamento.</small>
						</div>
						<table class="table">
							<tr>
								<td>
									Curtir todas as fotos da hashtag.
								</td>
							</tr>
							<tr class="active">
								<td>
									Comentar todas as fotos da hashtag.
								</td>
							</tr>
							<tr>
								<td>
									Visualizar todas as fotos da hashtag.
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<a class="btn btn-success ouro" role="button">Começe a usar</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
</template>